html {
    font-family: BurBank;
    user-select: none;
    overflow: hidden;
    background: #6175B7;
}

.rows {
    width: 100%;
    height: 100vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
}

.rows > div:not(.main) {
    opacity: 0.5;
}

/* .rows > div:last-child:nth-of-type(2) {
    top: 545px !important;
} */

/* .rows > div:first-child.main {
    position: absolute !important;
    top: 50%;
} */

.rows > div {
    width: 100%;
    position: relative;
    overflow: scroll;
    top: -43px;
}

.main {
    top: unset !important;
}

.rows > div:not(.main) > div:nth-of-type(2) {
    display: none;
}

.rows > div > div:nth-of-type(1) {
    margin: 50px;
    display: flex;
    position: relative;
    left: -38px;
}

/* .rows > div:first-child {
    top: -410px;
} */

/* .rows > div:last-child {
    top: 60px !important;
} */

.rows > div img {
    margin: 6px;
}

.rows > div > div:nth-of-type(2) {
    position: fixed;
    top: 10px;
    left: -40%;
    opacity: 0;
    display: flex;
}

.rows > div > div:nth-of-type(2) > div:nth-of-type(1) {
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    font-style: italic;
}

.rows > div:last-child:nth-of-type(1).main {
    top: 50% !important;
}

.message {
    bottom: 11px;
    color: rgb(42 45 47);
    position: absolute;
    padding: 8px;
    transform: translate(-50%);
    left: 50%;
    font-size: 2vh;
    background: linear-gradient(to right, #7289E7 8%, #6175B7);
    animation-duration: 48.2s;
    animation-iteration-count: infinite;
    animation-name: loading;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.other {
    width: 268px;
    height: 411px;
}

.other {
    width: 268px;
    height: 411px;
}

.other > div {
    height: 202px;
}

::-webkit-scrollbar {
    display: none;
}

/* .main ~ div {
    top: 1110px;
} */

@keyframes loading {
    0% {
        background-position: -50vw 0;
    }
    100% {
        background-position: 50vw 0;
    }
}

.acceptance {
    left: 50%;
    background: linear-gradient(to right, #7289E7 56%, #6175B7);
    width: 50%;
    height: 70%;
    background-position: 474px 1449px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 40px #7289E7;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.acceptance > div:nth-of-type(1) {
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 46%;
    left: 50%;
    position: absolute;
    font-size: 251%;
}

.acceptance > div:nth-of-type(1) > div:nth-of-type(2) {
    font-size: 10px;
}

.acceptance > div:nth-of-type(1) > div:nth-of-type(3) {
    font-size: 12px;
    font-weight: bold;
}

.acceptance > .button {
    width: 50%;
    height: 80px;
    font-size: 10px;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%) skew(-13deg, -1deg);
}