.item {
    overflow: hidden;
    width: 262px;
    height: 410px;
    margin: 6px;
    background: #1F1F1F;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    flex-shrink: 0;
    font-family: 'BurBank';
}

.item > img:nth-of-type(1) {
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: -6px;
    transition: 0.7s;
}

.item > div:nth-of-type(1) {
    /* position: relative;
    bottom: 81px;
    width: 100%; */
    top: 6px;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    z-index: 1;
}

.item:hover > div:nth-of-type(2) > div:nth-of-type(1) {
    top: -8px;
}

.item > div:nth-of-type(1) > div:nth-of-type(1) {
    transition: 0.2s;
    width: 101%;
    height: 101%;
    position: relative;
    top: 0;
    filter: brightness(16);
}

.item > div:nth-of-type(1) > img:nth-of-type(1) {
    overflow: hidden;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 0.7s;
    transform: translate(-50%, -50%);
    top: -53%;
    left: 49%;
}

.item > div:nth-of-type(2) {
    position: relative;
    bottom: 70px;
    width: 102%;
    z-index: 1;
}

.item > div:nth-of-type(3) {
    position: absolute;
    background-image: unset;
    height: inherit;
    width: inherit;
}

.item > div:nth-of-type(2) > div:nth-of-type(1) {
    background: #0F0D12;
    width: 119%;
    height: 17px;
    position: relative;
    top: 10px;
    z-index: 0;
    transition: 0.2s;
    transform: rotate(-2deg);
}

.item > div:nth-of-type(2) > div:nth-of-type(2) {
    background: #1F1F1F;
    width: 103%;
    height: 30px;
    position: relative;
    top: 3px;
    left: -3px;
    z-index: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
    font-style: italic;
    transition: 0.2s;
    overflow: auto;
}

.item > div:nth-of-type(2) > div:nth-of-type(3) {
    background: #0F0D12;
    width: 100%;
    z-index: 1;
    height: 39px;
    position: absolute;
    transition: 0.2s;
    top: 46px;
    color: white;
    z-index: 11000000;
    left: -2px;
    width: 100.7%;
    overflow: auto;
}

.item > div:nth-of-type(2) > div:nth-of-type(3) > img {
    margin: 0;
    position: relative;
    float: right;
    line-height: 25px;
    width: 23px;
    opacity: 0.6;
    transform: rotate(20deg);
}

.item > div:nth-of-type(2) > div:nth-of-type(3) > div {
    position: relative;
    float: right;
    line-height: 27px;
    left: -6px;
    opacity: 0.7;
}

.item > div:nth-of-type(1) > div:nth-of-type(2) {
    background: #1F1F1F;
    width: 103%;
    height: 30px;
    position: relative;
    top: 3px;
    left: -3px;
    z-index: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
    font-style: italic;
    transition: 0.2s;
    overflow: auto;
}

.item > div:nth-of-type(2) > div:nth-of-type(2) > div {
    font-size: 10px;
    position: relative;
    top: -3px;
    color: #8C8A8B;
}

.item:hover > div:nth-of-type(2) > div:nth-of-type(2) > div {
    font-size: 18px;
    top: -4px;
}

.item > div:nth-of-type(1) > div:nth-of-type(3) {
    background: #0F0D12;
    width: 100%;
    z-index: 1;
    height: 39px;
    position: absolute;
    transition: 0.2s;
    top: 46px;
    color: white;
    z-index: 11000000;
    left: -2px;
    width: 100.7%;
    overflow: auto;
}

.item > div:nth-of-type(1) > div:nth-of-type(3) > div {
    position: relative;
    float: right;
    line-height: 27px;
    left: -6px;
    opacity: 0.7;
}

.item > div:nth-of-type(1) > div:nth-of-type(3) > img {
    margin: 0;
    position: relative;
    float: right;
    line-height: 25px;
    width: 23px;
    opacity: 0.6;
    transform: rotate(20deg);
}

.item:hover img:nth-of-type(1) {
    transform: scale(1.05);
}

.item:hover > div:nth-of-type(2) > div:nth-of-type(2) {
    height: 100px;
    top: -17px;
    background: white;
    color: #0F0D12;
}

.item:hover > div:nth-of-type(2) > div:nth-of-type(3) {
    background: #b9f8f6;
    color: #1d7d8b;
}

@font-face {
    font-family: BurBank;
    src: url(./src/font/index.ttf);
}